extends ../layouts/default

block content
	.container.contact-page
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			.row: .col
				form(method='post')
					input(type='hidden', name='action', value='contact')
					.form-group#grp1(class=validationErrors.name ? 'has-error' : null)
						label Naam
						input(type='text', name='name.full', value=formData['name.full']).form-control
					.form-group#grp2(class=validationErrors.email ? 'has-error' : null)
						label Email
						input(type='email', name='email', value=formData.email).form-control
					.form-group#grp3
						label Telefoon
						input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
					.form-group#grp4(class=validationErrors.enquiryType ? 'has-error' : null)
						label Onderwerp
						select(name='enquiryType').form-control
							option(value='') (select one)
							each type in enquiryTypes
								option(value=type.value, selected=formData.enquiryType == type.value)= type.label
					.form-group#grp5(class=validationErrors.message ? 'has-error' : null)
						label Bericht
						textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
					.form-actions
						button(type='submit').btn.btn-primary Send
