extends ../layouts/default

block content
  .container-fluid
    .row.detail
      .col.gallery
        #carousel.carousel.slide(data-ride="carousel")
          .carousel-inner
            each image, index in data.post.images
              div.item(
                class=index == 0 ? 'active' : ''
              )
                  img(src=image.url)
          if (data.post.images.length > 1)
            .carousel-indicators
              each image, index in data.post.images
                li(
                  class=index == 0 ? 'active' : ''
                  data-target="#carousel" 
                  data-slide-to= index
                )
      .col.text
        h1= data.post.title
        p
          != data.post.content.extended
