extends ../layouts/default

block content
	.container-fluid#carousel
		h1 community <br> werkers
			
		each link in data.posts
			if link.image
				.ex-item
					img(src=link.image.url)
					.overlay: a(href=link.category.key + '/info/' + link.slug)= link.title
			else if link.images.length > 0
				.ex-item
					img(src=link.images[0].url)
					.overlay: a(href=link.category.key + '/info/' + link.slug)= link.title
			
		.info-btn 
			a(href='/gilde/info') info
