// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";

@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans');

$lightgrey: #efeeed;
$grey: rgba(130,130,130,1);
$blue: #008fba;

body {
  font-family: 'Ethos', serif;
  // font-family: 'Bitter', serif;
  background-color: $lightgrey;
  font-size: 16px;
}

#header {
  margin-top: 0;
  height: 10vh;

  .navbar {
    height: 10vh;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .container-fluid {
      width: 100%;
    }

    .navbar-brand {
      padding: 0 2em;
      font-size: 1.8em;
      line-height: 1.2;

    }

    .navbar-left li, .navbar-right {
      margin: 0 1em;
      font-size: 1.2em;
    }

    .navbar-left li.active a {
      color: $blue;
    }

    .navbar-nav a {
      color: $grey;
    }
  }
}

h1.center-text {
  color: $blue;
  opacity: .8;
  font-size: 10em !important;
  position: absolute;
  width: 100vw;
  top: 40%;
  // bottom: 50%;
  text-align: center;
}

.jumbotron {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 10em !important;
    color: $blue;
  }

  i {
    font-size: 1.6em;
    color: $blue;
  }
}

.jumbotron.jumbotron-gilde {

  a {
    margin: 3rem 0;
  }

  a:hover {
    text-decoration: none;

    h1 {
      color: $lightgrey;
      -webkit-text-stroke: 1px $blue;
    }
  }
  h1 {
    font-size: 6em !important;
  }
}

.info-btn {
  position: absolute;
  left: -10vh;
  top: 25vh;
  background-color: $blue;
  color: #FFF;
  width: 20vh;
  height: 20vh;
  transform: rotate(45deg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 4vh;
  border-radius: 8px;
  z-index: 992;

  a {
    font-size: 2rem;
    transform: rotate(-45deg);
    color: #FFF;
  }
}

.row.detail {
  height: 90vh;
  display: flex;
  flex-direction: row;

  .col {
    width: 50%;
  }

  .col.gallery {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // transform: rotate(45deg);

    .carousel {
      width: 45vw;
      height: 45vw;

      .carousel-inner, .item {
        height: 100%;
      }

      .item img {
        position:relative;
        top:50%;
        left: 0;
        right: 0;
        width: 80%;
        height: 80%;
        margin: auto;
        transform: translateY(-50%);
        z-index: -1;
        -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      }

      .item:after {
        content: '';
        display: block;
        position: absolute;
        top: 9%;
        left: 9%;
        width: 82%;
        height: 82%;
        border: 10px solid $lightgrey;
        border-radius: 50%;
      }

    }

  }

  .col.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $blue;

    h1 {
      font-size: 4em;
      margin-bottom: .8em;
    }
    p {
      line-height: 1.5;
      padding-right: 20% !important;
    }
  }
}

.carousel-indicators {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-left: 0;
  left: 0;

  li, li.active {
    background-color: $blue;
    width: 1.2em;
    height: 1.2em;
    margin: .5em;
    border-radius: 5px;
    transform: rotate(45deg);
  }

  li.active {
    background-color: lighten($blue, 20%);
  }
}

.contact-page {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  form {

    width: 80vw;
    padding-top: 10vh;

    .form-group {
      width: 60%;
      display: flex;
      flex-direction: row;

      input, select {
        width: 50%;
      }
    }

    label {
      width: 10vh;
      min-width: 10vh;
      height: 10vh;
      line-height: 10vh;
      text-align: center;
      color: #FFF;
      background-color: $blue;
      border-radius: 5px;
      transform: rotate(-45deg) translateX(6vh) translateY(-2vh);
    }

    #grp1 {
      // padding: 5vh 0;
      transform: translateX(5%);
    }

    #grp2 {
      padding: 5vh 0;
      transform: translateX(20%);
    }

    #grp3 {
      transform: translateX(10%);
    }

    #grp4 {
      padding: 6vh 0;
      transform: translateX(20%);
    }

    #grp5 {
      position: absolute;
      left: 50%;
      top: 25%;

      textarea {
        width: 50%;
        height: 50vh;
      }
    }

  }

}

#body {
  height: 90vh;

  .container-fluid {
    height: 100%;
  }
}

#carousel{
  position: relative;
  left: 0;
  top: 0;
  padding: 0;

  h1 {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 10em !important;
    color: $blue;
    z-index: 990;
    opacity: .6;
  }
}

.ex-item.theta-carousel-element.theta-current-item {
  z-index: 991 !important;
}

.ex-item {
  box-shadow: 0 0 0 !important;

  .overlay {
    transition: .3s all ease-in;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: $blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border-radius: 10px;
    opacity: 0;

    a {
      font-size: 2.6rem;
      color: #FFF;
      transform: rotate(-45deg);
      text-decoration: none;
    }
  }
}

.ex-item img {
  width: 350px;
  height: 350px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  border-radius: 10px;
}

.ex-item:hover .overlay {
  opacity: 1;
}

#footer {

  padding: .5em;
  text-align: right;
  font-family: 'Open Sans', sans-serif  !important;;

}
